body {
font-family: 'Anton', sans-serif;
}


h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

aside {

    background: white;
    position: absolute;
    height: 100%;
    width: 200px;
    right: 0;
}

#wrapper {
    height: 166px;
}


.jumbotron {background: #ffffff70;}


.color-text {
    color: wheat;
}

.container{
	text-align: center;
}


.table {
  background: white;
}

td {
    text-align: left;
}

#menu-toggle {
  font-size: 20px;
}


html{
  box-sizing:border-box;
  margin: 0;
  padding: 0;

}

 *, *:before,*:after { box-sizing: inherit; margin: 0; padding: 0; 
}

header,footer,h1,h2,h3,h4,div,p,aside,section,main,ol,ul,li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  border: 0;

}

body{
  


}



header{
  position: relative;
  background-color: #111;
  border-color: #cccccc;
  color: white;
  font-size: 100%;
  padding: 0 0 0em 10em;
  
}

header h1{
  background: #4aaaa5;
  display: inline-block;
  font-size: 200%;
  padding: 0.8em;
  

}

header ul{
  position: absolute;
  right: 22.2em;
  top: 2em;
  list-style: none;

}

header ul li{
  
  display: inline-block;
  color:#aaa;
  font-size: 18px;

  padding: 0 0.7em;
}

body{
background: #111;
}

main label{
  display: block;
  margin: 1em 1em .25em 1em;
  padding: 0 0 0 0em;
  color: #aaa;

}

input[type="submit"]{
  display: block;
  margin: 1em 0em;
  font-size: 16px;
  padding: .5em;
  background: #d73;
  color: #fff;
  border: none;
   

} 

input[type="text"], textarea{
  display: block;
  margin: 0 0;
  width: 25em;
  font-size: 16px;
  padding: .5em;

  
}

form{
  padding: 1em;
  position: relative;
  right: 1em;
}

form label{
  position: relative;
  right: 1em;
}

section p{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#picture{
  position: relative;
  left: 15em;
}

#contact{
  position: relative;
  left: 15em;
}
}



main{
  padding: 2em 0 2em 10em;
  position: relative;
  background-image:url("../images/concrete.png");
  border-top: 2px solid #ccc;

}

main h1{
  font-family: "arial";
  font-size: 26px;
  color:#d73;
  border-bottom: 2.5px solid #ddd;
  padding: .30em 0 .75em 0;
  text-align: center;
}

main div{
  background-color:#eee;
  display: inline-block;
  padding: 2em 2em 0em;
  border-radius: 10%;
  position: relative;
  left: 8em;
  
}

