html{
  box-sizing:border-box;
  margin: 0;
  padding: 0;

}

 *, *:before,*:after { box-sizing: inherit; margin: 0; padding: 0; 
}

header,footer,h1,h2,h3,h4,div,p,aside,section,main,ol,ul,li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  border: 0;

}

#about{
background: #111;
}

#contact-box label{
  display: block;
  margin: 1em 1em .25em 1em;
  padding: 0 0 0 0em;
  color: #aaa;

}

#contact-box input[type="submit"]{
  display: block;
  margin: 1em 0em;
  font-size: 16px;
  padding: .5em;
  background: #d73;
  color: #fff;
  border: none;
   

} 

#contact-box input[type="text"], textarea{
  display: block;
  margin: 0 0;
  width: 25em;
  font-size: 16px;
  padding: .5em;

  
}

#contact-box form{
  padding: 1em;
  position: relative;
  right: 1em;
}

#contact-box form label{
  position: relative;
  right: 1em;
}

#about section p{
  color: #d73;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#picture{
  position: relative;
  left: 15em;
}

#contact-box{
  position: relative;
  left: 15em;
}



#about h1{
  font-family: "arial";
  font-size: 26px;
  color:#d73;
  border-bottom: 2.5px solid #ddd;
  padding: .30em 0 .75em 0;
  text-align: center;
}


#contact-box{
  background-color:#eee;
  display: inline-block;
  padding: 2em 2em 0em;
  border-radius: 10%;
  position: relative;
  left: 8em;
  
}

